body{
    background-color: white;
    color: white;
}

div{
    font-size: 16pt;
    color:white
}

h1{
    font-size: 22pt; 
    color:white; 
    border:2px; 
    background-color: grey;
}

h2{
    font-size: 18pt; 
    font-weight: lighter; 
    color:black ;
    border: 2px;
    border-bottom: 1px solid black
}

h3{
    font-size: 14pt; 
    font-weight: lighter; 
    color:black ; 
}
h4{
    font-size: 14pt; 
    font-weight: lighter; 
    color:black ;
}

h5{
    font-size: 14pt; 
    font-weight: lighter; 
    color:black ;
}

h6{
    font-size: 14pt; 
    font-weight: lighter; 
    color:black ;
}

img {width: 500px;}

footer{
    font-size: 14pt; 
    background-color:grey;
    color:white
}

form{
    color: black;
    font-size: 14pt;
}

p{
    color: black;
    font-size: 14pt;
}