<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <title>{{ pageTitle }}</title>
       
</head>

<body>
    <div class="container">
    <div class="row">
    <div class="col-md-12">
        <h1>Vertical Tank Maintenance</h1>
    </div>
    </div>
    </div>

    <div class="navbar">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/estimate">Estimate</a>
    </div>

    <content>
        {% block content %}{% endblock %}
    </content>
    
</body>

</html>