<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <title>{{ pageTitle }}</title>
       
</head>

<body>
    <h1>Vertical Tank Maintenance</h1>
    <div class="navbar">
        <a href="index.html">Home</a>
        <a href="about.html">About</a>
        <a href="estimate.html">Estimate</a>
    </div>

    <content>
        {% block content %}{% endblock %}
    </content>
    
</body>

</html>